:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  --fs: 1.125rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dark-cyan);
}

.header--bg {
  max-width: 100%;
  display: block;
  height: auto;
}

.card {
  width: 18.75em;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin: 30px auto;
}

.card--header img {
  border-radius: 10px 10px 0 0;
}

.victor-img {
  margin: 0 0 0 100px;
  border-radius: 50px;
  position: absolute;
  top: 15%;
  background-color: #fff;
  width: 100px;
  height: 100px;
}
.victor {
  border-radius: 50%;
}
.card--body {
  width: 60%;
  /* border: 2px solid maroon; */
  /* margin-top: 40px; */
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.city {
  font-size: var(--fs);
}
p {
  margin-top: 0;
  color: var(--dark-gray);
  font-size: 10px;
}
h4 {
  margin-bottom: 0.5em;
}
span {
  color: var(--dark-gray);
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
